RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index\.php/(.*)$ index.php?path=./$1 [QSA,L]
RewriteRule ^file\.php/(.*)$ file.php [L,QSA]
RewriteRule ^raw\.php/(.*)$ raw.php [L,QSA]
